{% set pagetitle = 'Enter your e-mail address'|trans %}

{% extends "@core/base.twig" %}

{% block preload %}
    <link rel="stylesheet" href="{{ asset('css/ldapPasswordReset.css', 'ldapPasswordReset') }}">
{% endblock %}

{% block content %}
    {%- if not isProduction %}

    <div class="message-box warning">
      {% trans %}You are now accessing a pre-production system. This authentication setup is for testing and pre-production verification only. If someone sent you a link that pointed you here, and you are not <i>a tester</i> you probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
    </div>
    {% endif -%}

    {%- if mailSent %}

    <h1>{{ 'Please check your inbox'|trans }}</h1>

    {% set retryURL = moduleURL('ldapPasswordReset/enterEmail', {'AuthState': AuthState}) %}
    <div class="center">
        <div class="align_left">
        {% trans %}An e-mail was sent to you. Please check your inbox.{% endtrans %}<br>
        {{ "If you haven't received the e-mail, please check your spam-folder or <a href=\"%RETRYURL%\">try again</a>."|trans({'%RETRYURL%': retryURL})|raw }}
        </div>
    </div>
    {% else %}

    <h1>{{ 'Enter your e-mail address'|trans }}</h1>

    <div class="center">
        <form class="pure-form pure-form-aligned center-form" action="{% if AuthState is defined %}{{ moduleURL('ldapPasswordReset/enterEmail', {'AuthState': AuthState}) }}{% else %}{{ moduleURL('ldapPasswordReset/enterEmail') }}{% endif %}" method="post" name="f">
            <div class="form-align">

                <div class="pure-control-group">
                    <label for="email">{{ 'E-mail address'|trans }}</label>
                    <input id="email" type="text" tabindex="1" name="email" class="edge" autocomplete="email" autofocus>
                </div>
            </div> <!-- form-align-->
            <br><br>
            <button class="pure-button pure-button-red pure-input-1-2 pure-input-sm-1-1 right" id="submit_button"
                    name="submit_button" type="submit" tabindex="6" data-processing="{% trans %}Processing...{% endtrans %}">
              {% trans %}Proceed{% endtrans %}
            </button>
        </form>
    </div>
    {% endif -%}

{% endblock %}
