{% set pagetitle = 'Change your password'|trans %}

{% extends "@core/base.twig" %}

{% block content %}

    {%- if not isProduction %}
    <div class="message-box warning">
      {% trans %}You are now accessing a pre-production system. This authentication setup is for testing and pre-production verification only. If someone sent you a link that pointed you here, and you are not <i>a tester</i> you probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
    </div>
    {% endif -%}

    {%- if passwordChanged %}
    <div class="message-box success">
        {% trans %}Your password was succesfully changed.{% endtrans %}{%- if referer %}{% trans %}Please click here to return to the login screen.{% endtrans %}{% endif -%}
    </div>
    {% endif -%}

    <h1>{{ 'Change your password'|trans }}</h1>

    <div class="center">
        <form class="pure-form pure-form-aligned center-form" action="{{ moduleURL('ldapPasswordReset/resetPassword', {'AuthState': AuthState}) }}" method="post" name="f">
            <div class="form-align">
                <div class="pure-control-group">
                    <label for="email">{{ 'Email address'|trans }}</label>
                    <label for="first">{{ 'New password'|trans }}</label>
                    <label for="second">{{ 'Retype new password'|trans }}</label>
                    <input id="email" type="password" name="email" class="edge" autocomplete="password" disabled>
                    <input id="first" type="password" tabindex="1" name="first" class="edge" autocomplete="password" autofocus>
                    <input id="second" type="password" tabindex="2" name="second" class="edge" autocomplete="new-password">
                </div>
            </div> <!-- form-align-->
            <br><br>
            <button class="pure-button pure-button-red pure-input-1-2 pure-input-sm-1-1 right" id="submit_button"
                    type="submit" tabindex="3" data-processing="{% trans %}Processing...{% endtrans %}">
              {% trans %}Proceed{% endtrans %}
            </button>
        </form>
    </div>

{% endblock %}
