{% set pagetitle = 'Change your password'|trans %}

{% extends "@core/base.twig" %}

{% block content %}

    {%- if not isProduction %}
    <div class="message-box warning">
      {% trans %}You are now accessing a pre-production system. This authentication setup is for testing and pre-production verification only. If someone sent you a link that pointed you here, and you are not <i>a tester</i> you probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
    </div>
    {% endif -%}

    {%- if passwordChanged is defined %}
    {%- if passwordChanged %}
    <div class="message-box success">
        {% trans %}Your password was succesfully changed.{% endtrans %}{%- if referer is defined %}{% trans %}Please click here to return to the login screen.{% endtrans %}{% endif -%}
    </div>
    {% else %}
    <div class="message-box error">
        {% trans %}Your password wasn't changed. Please try again.{% endtrans %}
        {% trans %}Note that passwords must be at least 8 characters long and must contain 3 out of 4 of the following classes:{% endtrans %}
        {% trans %}[lower case letters]{% endtrans %}
        {% trans %}[upper case letters]{% endtrans %}
        {% trans %}[digits]{% endtrans %}
        {% trans %}[special characters]{% endtrans %}
    </div>
    {% endif -%}
    {% endif -%}

    {%- if passwordMismatch %}
    <div class="message-box error">
        {% trans %}The passwords you entered did not match. Please try again.{% endtrans %}
    </div>
    {% endif -%}

    <h1>{{ 'Change your password'|trans }}</h1>

    <div class="center">
        <form class="pure-form pure-form-aligned center-form" action="{{ moduleURL('ldapPasswordReset/resetPassword', {'AuthState': AuthState}) }}" method="post" name="f">
            <div class="form-align">
                <div class="pure-control-group">
                    <label for="email">{{ 'Email address'|trans }}</label>
                    <input id="email" type="text" name="email" value="{{ emailAddress }}" class="edge" readonly>
                    <br><br>
                    <label for="first">{{ 'New password'|trans }}</label>
                    <input id="new-password" type="password" tabindex="1" name="new-password" class="edge" autocomplete="new-password" autofocus>
                    <br><br>
                    <label for="second">{{ 'Retype new password'|trans }}</label>
                    <input id="password" type="password" tabindex="2" name="password" class="edge" autocomplete="password">
                    <br><br>
                </div>
            </div> <!-- form-align-->
            <br><br>
            <button class="pure-button pure-button-red pure-input-1-2 pure-input-sm-1-1 right" id="submit_button" name="submit_button"
                    type="submit" tabindex="3" data-processing="{% trans %}Processing...{% endtrans %}">
              {% trans %}Proceed{% endtrans %}
            </button>
        </form>
    </div>

{% endblock %}
